@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.15;
}

@media print {
  body,
  page {
    margin: 0;
  }
}

a {
  text-decoration: underline;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1 {
  @apply mb-2 mt-2 border-b border-b-primary text-2xl font-bold text-primary;
}

h1:first-child {
  @apply mt-0;
}
