@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.15;
}

@media print {
  body,
  page {
    margin: 0;
  }
}

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/fira-sans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/fira-sans-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/fira-sans-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

a {
  text-decoration: underline;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  @apply list-disc pl-6;
}
ol {
  @apply list-decimal pl-6;
}
ul ul,
ol ul {
  @apply list-[circle] pl-8;
}
ol ol,
ul ol {
  @apply list-[lower-latin] pl-8;
}

h1 {
  @apply mb-2 mt-2 border-b border-b-primary text-2xl font-bold text-primary;
}

h1:first-child {
  @apply mt-0;
}

.cv-list-item-header {
  @apply text-[1.1875rem] leading-7;
}
